*{
    text-align: center;
}
body{
    background-color: blueviolet;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkblue;
    animation: reverse;
}

h2{font-family: fantasy;
}

li{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
border:1px solid red;
}

table {
    border: 5px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: darkgreen;
    
}

footer{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}